[submodule "_templates"]
	path = _templates
	url = https://github.com/shemeshg/hygen-templates.git
[submodule "gpgfactory"]
	path = gpgfactory
	url = https://github.com/shemeshg/gpgme-cmake-example.git
[submodule "yaml-cpp"]
	path = EditYaml/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
