[Desktop Entry]
Type=Application
Name=pass-simple
Version=1.0
GenericName=Password Manager
Comment=GUI for the standard unix password store
Exec=/opt/pass-simple/bin/pass-simple
Icon=application-x-executable
Terminal=false
Categories=Security;Utility;
Keywords=Password;Manager;QT;
